Experiment - 4:

Write a python program to import and export data using Pandas and show the details of the dataset like number of rows, columns, first five rows, size, number of missing values, sum, average, min and max values from the numerical columns.

In [1]:
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv('sample.csv')

In [3]:
# Number of rows and columns
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

Number of rows: 44004
Number of columns: 14

In [5]:
# First five rows of the dataset
print("\nFirst five rows:")
print(df.head(5))

First five rows:
  Series_reference   Period  Data_value  Suppressed STATUS   UNITS  Magnitude  \
0       TPTA.S22IA  1970.12      2771.0         NaN      F  NUMBER          0
1       TPTA.S22IA  1971.12      2076.0         NaN      F  NUMBER          0
2       TPTA.S22IA  1972.12      2037.0         NaN      F  NUMBER          0
3       TPTA.S22IA  1973.12      2101.0         NaN      F  NUMBER          0
4       TPTA.S22IA  1974.12      1282.0         NaN      F  NUMBER          0

           Subject                                              Group  \
0  Transport - TPT  New and Ex-Oseas Motor Vehicles Registered by ...
1  Transport - TPT  New and Ex-Oseas Motor Vehicles Registered by ...
2  Transport - TPT  New and Ex-Oseas Motor Vehicles Registered by ...
3  Transport - TPT  New and Ex-Oseas Motor Vehicles Registered by ...
4  Transport - TPT  New and Ex-Oseas Motor Vehicles Registered by ...

                         Series_title_1 Series_title_2  Series_title_3  \
0  New Cars&Station Wagons up to 850 cc            NaN             NaN
1  New Cars&Station Wagons up to 850 cc            NaN             NaN
2  New Cars&Station Wagons up to 850 cc            NaN             NaN
3  New Cars&Station Wagons up to 850 cc            NaN             NaN
4  New Cars&Station Wagons up to 850 cc            NaN             NaN

   Series_title_4  Series_title_5
0             NaN             NaN
1             NaN             NaN
2             NaN             NaN
3             NaN             NaN
4             NaN             NaN

In [6]:
# Size of the dataset (total number of elements)
print(f"\nSize of dataset: {df.size}")

Size of dataset: 616056

In [7]:
# Number of missing values in each column
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
Series_reference        0
Period                  0
Data_value             41
Suppressed          44004
STATUS                  0
UNITS                   0
Magnitude               0
Subject                 0
Group                   0
Series_title_1          0
Series_title_2      22434
Series_title_3      44004
Series_title_4      44004
Series_title_5      44004
dtype: int64

In [8]:
# Sum of numerical columns
print("\nSum of numerical columns:")
print(df.select_dtypes(include='number').sum())

Sum of numerical columns:
Period            8.812844e+07
Data_value        8.000842e+09
Suppressed        0.000000e+00
Magnitude         0.000000e+00
Series_title_3    0.000000e+00
Series_title_4    0.000000e+00
Series_title_5    0.000000e+00
dtype: float64

In [9]:
# Average of numerical columns
print("\nAverage of numerical columns:")
print(df.select_dtypes(include='number').mean())

Average of numerical columns:
Period              2002.737035
Data_value        181990.362555
Suppressed                  NaN
Magnitude              0.000000
Series_title_3              NaN
Series_title_4              NaN
Series_title_5              NaN
dtype: float64

In [10]:
# Minimum values in numerical columns
print("\nMinimum values in numerical columns:")
print(df.select_dtypes(include='number').min())

Minimum values in numerical columns:
Period            1961.01
Data_value           0.00
Suppressed            NaN
Magnitude            0.00
Series_title_3        NaN
Series_title_4        NaN
Series_title_5        NaN
dtype: float64

In [11]:
# Maximum values in numerical columns
print("\nMaximum values in numerical columns:")
print(df.select_dtypes(include='number').max())

Maximum values in numerical columns:
Period               2024.08
Data_value        4607195.00
Suppressed               NaN
Magnitude               0.00
Series_title_3           NaN
Series_title_4           NaN
Series_title_5           NaN
dtype: float64